<?xml version="1.0"?>
<robot name="sensor_kinect" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo_realsense.urdf.xacro"/>
  
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_realsense" params="parent">    
    <link name="camera_base">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>    
    
    <link name="camera_link">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://turtlebot_description/meshes/sensors/realsense.stl"/>
        </geometry>
      </visual>
    </link>
    
    <joint name="parent_camera_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="camera_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0" />
    </joint>

    <joint name="camera_base_link_joint" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_base"/>
      <origin xyz="0.025 0 0.2" rpy="0 0 0"/>
      <axis xyz="0 1 0" />
    </joint>
    <!-- Kinect sensor for simulation -->
    <turtlebot_sim_realsense_3dsensor/>
  </xacro:macro>
</robot>
